@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --font: "Outfit", sans-serif;
  --black: rgb(12, 12, 12);
  --red: rgb(220, 20, 62);
  --red-transparent: rgba(220, 20, 62, 0.1);
  --white: rgb(252, 252, 252);
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(5vh + 2rem);
  scroll-snap-type: both mandatory;
  scroll-snap-align: start;
}

body {
  min-height: 100vh;
  padding: calc(5vh + 1rem) 0 0 0;
  background-color: var(--black);
}

#main-nav {
  top: 0;
  position: fixed;
  width: fit-content;
  padding: 1rem;
  background-color: var(--black);
  background-image: linear-gradient(
    to left,
    var(--red),
    var(--red-transparent)
  );
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9;
}

#main-nav a {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white);
  transition: all 300ms ease-in-out;
}

#main-nav a:hover {
  background-color: var(--white);
  color: var(--red);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    var(--red-transparent),
    var(--red)
  );
}

main header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main header h1 {
  background-image: linear-gradient(to bottom, var(--red), var(--white));
  color: transparent;
  background-clip: text;
}

main header h2 {
  color: snow;
}

main picture {
  aspect-ratio: 1 / 1;
}
main picture img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#about-me {
  background-color: var(--red);
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

#about-me header h2 {
  color: snow;
  text-transform: uppercase;
  padding: 0.25rem 0;
  position: relative;
  cursor: pointer;
}
#about-me header h2::before {
  content: "";
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0.25rem;
  width: 0;
  height: 0.25rem;
  background-image: linear-gradient(to left, var(--white), var(--red));
  transition: all 300ms ease-in-out;
  font-weight: 900;
}
#about-me header h2:hover::before {
  width: 100%;
}

#about-me article {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#about-me article p {
  width: 100%;
  text-wrap: balance;
  color: var(--white);
  font-weight: 400;
}
#about-me article ul {
  flex: 1;
  background-color: snow;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}
#about-me article ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me article ul li svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--red);
}

/*Proyects */

#my-proyects {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom,
    var(--red),
    var(--red-transparent)
  );
  padding: 1rem;
}
#my-proyects header {
  width: fit-content;
}

#my-proyects header h2 {
  color: snow;
  text-transform: uppercase;
  padding: 0.25rem 0;
  position: relative;
  cursor: pointer;
}
#my-proyects header h2::before {
  content: "";
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0.25rem;
  width: 0;
  height: 0.25rem;
  background-image: linear-gradient(to left, var(--white), var(--red));
  transition: all 300ms ease-in-out;
  font-weight: 900;
}
#my-proyects header h2:hover::before {
  width: 100%;
}

#my-proyects article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

#my-proyects article h3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--red-transparent),
    var(--red)
  );
  text-transform: uppercase;
  font-size: 3rem;
  color: transparent;
  background-clip: text;
  transition: all 300ms ease-in-out;
}

#my-proyects article nav {
  position: absolute;
  top: -1rem;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

#my-proyects article nav a {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  border-radius: 1rem;
  transition: all 300ms ease-in-out;
}

#my-proyects article nav a:hover {
  transform: scale(1.2);
}

#my-proyects article nav a svg {
  width: 2rem;
  height: 2rem;
  fill: var(--white);
}

#my-proyects article:hover h3 {
  background-image: linear-gradient(to top, var(--black), var(--red));
}

#my-proyects picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Contact me */

#contact-me {
  background-image: linear-gradient(
    to bottom,
    var(--red-transparent),
    var(--black)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#contact-me header {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#contact-me header h2 {
  color: snow;
  text-transform: uppercase;
  padding: 0.25rem 0;
  position: relative;
  cursor: pointer;
}
#contact-me header h2::before {
  content: "";
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0.25rem;
  width: 0;
  height: 0.25rem;
  background-image: linear-gradient(
    to right,
    var(--red-transparent),
    var(--red)
  );
  transition: all 300ms ease-in-out;
  font-weight: 900;
}
#contact-me header h2:hover::before {
  width: 100%;
}

#contact-me header nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#contact-me header nav a {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-me header nav a svg {
  height: 2rem;
  width: 2rem;
  fill: var(--red);
  transition: all 300ms ease-in-out;
}
#contact-me header nav a .lucide {
  fill: none;
  stroke: var(--red);
}

#contact-me header nav a:hover svg {
  fill: var(--white);
}

#contact-me header nav a:hover .lucide {
  fill: none;
  stroke: var(--white);
}

#contact-me form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: var(--red);
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
#contact-me form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
#contact-me form fieldset label {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--white);
}
#contact-me form fieldset input {
  width: 100%;
  height: 2rem;
  padding: 0.25rem;
  font-size: 1rem;
}
#contact-me form fieldset textarea {
  width: 100%;
  height: 9rem;
  resize: none;
  padding: 0.25rem;
  font-size: 1rem;
}

#contact-me form fieldset:last-child {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact-me form fieldset:last-child button {
  padding: 0.25rem 2rem;
  border-radius: 0.25rem;
}

@media (min-width: 1200px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
  #main-nav {
    width: 100%;
    max-width: 1200px;
  }
  main {
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.25rem;
  }
  #about-me header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  #about-me article {
    flex-direction: row;
  }
  #about-me article p {
    flex: 1;
    width: fit-content;
    padding: 1rem;
  }
  #about-me article ul {
    border-radius: 0.25rem;
    grid-template-columns: repeat(3, 1fr);
  }

  #my-proyects {
    justify-content: center;
    gap: 1rem;
  }
  #my-proyects header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  #my-proyects article {
    width: calc(100% / 3 - 1rem);
  }
}
